@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro.woff');
  font-weight: normal;
  font-style: italic;
  color: @black;
}

h1 {
  font-family: 'Gotham Pro';
  font-size: 48px;
  height: 79px;
}

h2 {
  font-family: 'Gotham Pro';
  font-size: 28px;
  height: 46px;
}

h3 {
  font-family: 'Gotham Pro';
  font-size: 20px;
  height: 33px;
}

p {
  font-family: 'Gotham Pro';
  font-size: 16px;
  height: 34px;
}

a {
  color: @blue;
  cursor: pointer;
  &:hover {
    color: @red;
  }
  &:active {
    color: @black;
  }
}